
body {
	background: black;
	text-align: center;
}

h1 {
	font-family: 'Aladin', cursive;
	color: #910101;
	background-color: black;
}

.container {

}

span {
	color: darkgray;
}

img {
	width: 100%;
}

#image-box {
    width: 100%;
   	max-width: 980px;
	max-height: 734px;
	margin: auto;

}
#display-area {
	position: fixed;
	bottom: 0;
}


#crystals {
	background-color: black;
	width: 60%;
	margin: auto;
	margin-bottom: -22px;
}

.crystal-image {
	width: 20%;
	padding: 10px;
}